<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <link rel="icon" href="icon_path" type="image/icon type">
    <link rel="stylesheet" href="styles/note.css">
</head>
<body>
    
</body>
</html>