<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>
    <div class="page-container">
        <img src="/images/booknotesimg1.jpg" alt="books image">
        <div class="login-container">
            <h2>Sign Up</h2>
            <% if (typeof error !== 'undefined' && error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>
            <form action="/signup" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Sign Up</button>
            </form>
            <p class="login-link">Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
</body>
</html>