body{
    width: 70%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0px;
    background-color: #FAF3E0;
    color:#2D2D2D;
}

.hero{
    height: 100px;
    text-align: justify;
    text-align-last: center;
    margin-block: 50px;
}

.hero h1{
    text-align: center;
    color: #8B4513;
}

.container{
    display: flex;
    flex-direction : column;
    justify-content: space-around;
}

.intro img{
    float: left;
    margin-right: 10px;
    border: 0;
    border-radius: 10px;
}