body{
    width: 70%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0px;
}

.nav-bar{
    width: 90vw;
    height: 60px;
    margin-block: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.nav-bar ul{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size:20px;
    cursor: pointer;
}


.hero{
    height: 100px;
    text-align: justify;
    text-align-last: center;
    margin-block: 50px;
}

.hero h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction : column;
    justify-content: space-around;
}

.container img{
    float: left;
    margin: 10px;
}