body{
    background-color: #FAF3E0;
}

.container{
    width: 70%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.intro img{
    float: left;
    border-radius: 20px;
    margin-right: 30px;
}

.buttons button{
    height: 35px;
    width: 70px;
    text-decoration: none;
    background-color: #8B4513;
    border-radius: 20px;
    border: 0;
    color: #FAF3E0 ;
    margin-inline: 5px;
}

button:hover{
    background-color: #836046;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.details{
    padding-bottom: 50px;
}

.details p{
    text-align: justify;
}